@charset "UTF-8";
/**
  EDgrid es una librería CSS para construir layouts con Responsive Web Design
  Importe este archivo en su proyecto para empezar a usarlo
**/
*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: sans-serif; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.ed-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.ed-item {
  margin: 0;
  padding-left: 0.9375em;
  padding-right: 0.9375em; }

.ed-item {
  width: 100%; }
  .ed-item.ed-container {
    padding-left: 0;
    padding-right: 0; }

/*
| Mixin para crear cuadriculas
|
| $selector: nombre del selector CSS de cada item de la cuadricula
|
| $gutter: separación entre cada item de la cuadricula (opcional)
|
*/
.button, .about-us__cta, .pricing-table__cta {
  display: inline-block;
  line-height: 2.5em;
  padding: 0 1.5em;
  cursor: pointer;
  margin-bottom: 1em;
  border: none; }

.s-5,
.ed-item.s-5 {
  width: 5%; }

.s-10,
.ed-item.s-10 {
  width: 10%; }

.s-15,
.ed-item.s-15 {
  width: 15%; }

.s-20,
.ed-item.s-20 {
  width: 20%; }

.s-25,
.ed-item.s-25 {
  width: 25%; }

.s-30,
.ed-item.s-30 {
  width: 30%; }

.s-35,
.ed-item.s-35 {
  width: 35%; }

.s-40,
.ed-item.s-40 {
  width: 40%; }

.s-45,
.ed-item.s-45 {
  width: 45%; }

.s-50,
.ed-item.s-50 {
  width: 50%; }

.s-55,
.ed-item.s-55 {
  width: 55%; }

.s-60,
.ed-item.s-60 {
  width: 60%; }

.s-65,
.ed-item.s-65 {
  width: 65%; }

.s-70,
.ed-item.s-70 {
  width: 70%; }

.s-75,
.ed-item.s-75 {
  width: 75%; }

.s-80,
.ed-item.s-80 {
  width: 80%; }

.s-85,
.ed-item.s-85 {
  width: 85%; }

.s-90,
.ed-item.s-90 {
  width: 90%; }

.s-95,
.ed-item.s-95 {
  width: 95%; }

.s-100,
.ed-item.s-100 {
  width: 100%; }

.s-1-3,
.ed-item.s-1-3 {
  width: 33.33333%; }

.s-2-3,
.ed-item.s-2-3 {
  width: 66.66667%; }

.s-3-3,
.ed-item.s-3-3 {
  width: 100%; }

.s-1-6,
.ed-item.s-1-6 {
  width: 16.66667%; }

.s-2-6,
.ed-item.s-2-6 {
  width: 33.33333%; }

.s-3-6,
.ed-item.s-3-6 {
  width: 50%; }

.s-4-6,
.ed-item.s-4-6 {
  width: 66.66667%; }

.s-5-6,
.ed-item.s-5-6 {
  width: 83.33333%; }

.s-6-6,
.ed-item.s-6-6 {
  width: 100%; }

@media all and (min-width: 640px) {
  .m-5,
  .ed-item.m-5 {
    width: 5%; }
  .m-10,
  .ed-item.m-10 {
    width: 10%; }
  .m-15,
  .ed-item.m-15 {
    width: 15%; }
  .m-20,
  .ed-item.m-20 {
    width: 20%; }
  .m-25,
  .ed-item.m-25 {
    width: 25%; }
  .m-30,
  .ed-item.m-30 {
    width: 30%; }
  .m-35,
  .ed-item.m-35 {
    width: 35%; }
  .m-40,
  .ed-item.m-40 {
    width: 40%; }
  .m-45,
  .ed-item.m-45 {
    width: 45%; }
  .m-50,
  .ed-item.m-50 {
    width: 50%; }
  .m-55,
  .ed-item.m-55 {
    width: 55%; }
  .m-60,
  .ed-item.m-60 {
    width: 60%; }
  .m-65,
  .ed-item.m-65 {
    width: 65%; }
  .m-70,
  .ed-item.m-70 {
    width: 70%; }
  .m-75,
  .ed-item.m-75 {
    width: 75%; }
  .m-80,
  .ed-item.m-80 {
    width: 80%; }
  .m-85,
  .ed-item.m-85 {
    width: 85%; }
  .m-90,
  .ed-item.m-90 {
    width: 90%; }
  .m-95,
  .ed-item.m-95 {
    width: 95%; }
  .m-100,
  .ed-item.m-100 {
    width: 100%; }
  .m-1-3,
  .ed-item.m-1-3 {
    width: 33.33333%; }
  .m-2-3,
  .ed-item.m-2-3 {
    width: 66.66667%; }
  .m-3-3,
  .ed-item.m-3-3 {
    width: 100%; }
  .m-1-6,
  .ed-item.m-1-6 {
    width: 16.66667%; }
  .m-2-6,
  .ed-item.m-2-6 {
    width: 33.33333%; }
  .m-3-6,
  .ed-item.m-3-6 {
    width: 50%; }
  .m-4-6,
  .ed-item.m-4-6 {
    width: 66.66667%; }
  .m-5-6,
  .ed-item.m-5-6 {
    width: 83.33333%; }
  .m-6-6,
  .ed-item.m-6-6 {
    width: 100%; } }

@media all and (min-width: 1024px) {
  .l-5,
  .ed-item.l-5 {
    width: 5%; }
  .l-10,
  .ed-item.l-10 {
    width: 10%; }
  .l-15,
  .ed-item.l-15 {
    width: 15%; }
  .l-20,
  .ed-item.l-20 {
    width: 20%; }
  .l-25,
  .ed-item.l-25 {
    width: 25%; }
  .l-30,
  .ed-item.l-30 {
    width: 30%; }
  .l-35,
  .ed-item.l-35 {
    width: 35%; }
  .l-40,
  .ed-item.l-40 {
    width: 40%; }
  .l-45,
  .ed-item.l-45 {
    width: 45%; }
  .l-50,
  .ed-item.l-50 {
    width: 50%; }
  .l-55,
  .ed-item.l-55 {
    width: 55%; }
  .l-60,
  .ed-item.l-60 {
    width: 60%; }
  .l-65,
  .ed-item.l-65 {
    width: 65%; }
  .l-70,
  .ed-item.l-70 {
    width: 70%; }
  .l-75,
  .ed-item.l-75 {
    width: 75%; }
  .l-80,
  .ed-item.l-80 {
    width: 80%; }
  .l-85,
  .ed-item.l-85 {
    width: 85%; }
  .l-90,
  .ed-item.l-90 {
    width: 90%; }
  .l-95,
  .ed-item.l-95 {
    width: 95%; }
  .l-100,
  .ed-item.l-100 {
    width: 100%; }
  .l-1-3,
  .ed-item.l-1-3 {
    width: 33.33333%; }
  .l-2-3,
  .ed-item.l-2-3 {
    width: 66.66667%; }
  .l-3-3,
  .ed-item.l-3-3 {
    width: 100%; }
  .l-1-6,
  .ed-item.l-1-6 {
    width: 16.66667%; }
  .l-2-6,
  .ed-item.l-2-6 {
    width: 33.33333%; }
  .l-3-6,
  .ed-item.l-3-6 {
    width: 50%; }
  .l-4-6,
  .ed-item.l-4-6 {
    width: 66.66667%; }
  .l-5-6,
  .ed-item.l-5-6 {
    width: 83.33333%; }
  .l-6-6,
  .ed-item.l-6-6 {
    width: 100%; } }

@media all and (min-width: 1440px) {
  .xl-5,
  .ed-item.xl-5 {
    width: 5%; }
  .xl-10,
  .ed-item.xl-10 {
    width: 10%; }
  .xl-15,
  .ed-item.xl-15 {
    width: 15%; }
  .xl-20,
  .ed-item.xl-20 {
    width: 20%; }
  .xl-25,
  .ed-item.xl-25 {
    width: 25%; }
  .xl-30,
  .ed-item.xl-30 {
    width: 30%; }
  .xl-35,
  .ed-item.xl-35 {
    width: 35%; }
  .xl-40,
  .ed-item.xl-40 {
    width: 40%; }
  .xl-45,
  .ed-item.xl-45 {
    width: 45%; }
  .xl-50,
  .ed-item.xl-50 {
    width: 50%; }
  .xl-55,
  .ed-item.xl-55 {
    width: 55%; }
  .xl-60,
  .ed-item.xl-60 {
    width: 60%; }
  .xl-65,
  .ed-item.xl-65 {
    width: 65%; }
  .xl-70,
  .ed-item.xl-70 {
    width: 70%; }
  .xl-75,
  .ed-item.xl-75 {
    width: 75%; }
  .xl-80,
  .ed-item.xl-80 {
    width: 80%; }
  .xl-85,
  .ed-item.xl-85 {
    width: 85%; }
  .xl-90,
  .ed-item.xl-90 {
    width: 90%; }
  .xl-95,
  .ed-item.xl-95 {
    width: 95%; }
  .xl-100,
  .ed-item.xl-100 {
    width: 100%; }
  .xl-1-3,
  .ed-item.xl-1-3 {
    width: 33.33333%; }
  .xl-2-3,
  .ed-item.xl-2-3 {
    width: 66.66667%; }
  .xl-3-3,
  .ed-item.xl-3-3 {
    width: 100%; }
  .xl-1-6,
  .ed-item.xl-1-6 {
    width: 16.66667%; }
  .xl-2-6,
  .ed-item.xl-2-6 {
    width: 33.33333%; }
  .xl-3-6,
  .ed-item.xl-3-6 {
    width: 50%; }
  .xl-4-6,
  .ed-item.xl-4-6 {
    width: 66.66667%; }
  .xl-5-6,
  .ed-item.xl-5-6 {
    width: 83.33333%; }
  .xl-6-6,
  .ed-item.xl-6-6 {
    width: 100%; } }

.to-center {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.to-left {
  float: left;
  width: auto;
  margin-right: 1em; }

.to-right {
  float: right;
  width: auto;
  margin-left: 1em; }

.full {
  max-width: 100%; }

.circle {
  border-radius: 50%; }

.clearfix:before, .clearfix:after {
  content: "";
  width: 100%;
  display: table;
  clear: both; }

.no-padding.ed-container > .ed-item {
  padding-left: 0em;
  padding-right: 0em; }

.no-padding.ed-item {
  padding-left: 0em;
  padding-right: 0em; }

.padding {
  padding-left: 0.9375em;
  padding-right: 0.9375em; }

.padding-2 {
  padding-left: 1.875em;
  padding-right: 1.875em; }

.padding-3 {
  padding-left: 2.8125em;
  padding-right: 2.8125em; }

body.sticky-footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh; }
  body.sticky-footer > footer {
    margin-top: auto; }

.main-justify {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.main-distribute {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.main-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.main-start {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.main-end {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.cross-start {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start; }

.cross-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.cross-end {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end; }

.flex-reverse {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.flex-column {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-column-reverse {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.abcenter {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.from-s {
  display: none; }

.to-s {
  display: none; }

@media screen and (max-width: 639px) {
  .from-m {
    display: none; } }

@media screen and (min-width: 640px) {
  .to-m {
    display: none; } }

@media screen and (max-width: 1023px) {
  .from-l {
    display: none; } }

@media screen and (min-width: 1024px) {
  .to-l {
    display: none; } }

@media screen and (max-width: 1439px) {
  .from-xl {
    display: none; } }

@media screen and (min-width: 1440px) {
  .to-xl {
    display: none; } }

.ed-video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative; }
  .ed-video > iframe,
  .ed-video > video,
  .ed-video > .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.button {
  background: #ddd;
  color: #333; }
  .button:hover {
    background: #d0d0d0;
    text-decoration: none; }
  .button:active {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97); }

body {
  font-size: .9em;
  line-height: 1.5;
  color: #555; }

.main-menu {
  width: 100%; }
  .main-menu, .main-menu ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none; }
  .main-menu li {
    position: relative;
    list-style: none;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto; }
    .main-menu li.parent-submenu {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .main-menu li.parent-submenu a {
        -webkit-flex: auto;
        -ms-flex: auto;
        flex: auto; }
  .main-menu ul {
    display: none; }
    @media screen and (max-width: 1023px) {
      .main-menu ul.show-submenu {
        display: block;
        width: 100%;
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
        margin-left: 1em;
        margin-bottom: .5em; } }
  .main-menu a {
    display: block;
    line-height: 3em;
    padding: 0 1em; }
    .main-menu a:hover {
      text-decoration: none; }
  @media screen and (min-width: 1024px) {
    .main-menu {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .main-menu a {
        text-align: center; }
      .main-menu .expand {
        display: none; }
      .main-menu ul {
        position: absolute;
        left: 0;
        top: 100%;
        min-width: 100%;
        white-space: nowrap; }
        .main-menu ul a {
          text-align: left; }
        .main-menu ul ul {
          top: 0;
          left: 100%; }
      .main-menu li:hover > ul {
        display: block; } }
  .main-menu .expand-submenu {
    position: relative;
    right: 0;
    width: 3em;
    height: 3em;
    cursor: pointer;
    transition: all .3s; }
    @media screen and (min-width: 1024px) {
      .main-menu .expand-submenu {
        display: none; } }
    .main-menu .expand-submenu::after {
      content: "";
      position: absolute;
      width: 40%;
      height: 40%;
      top: 20%;
      left: 30%;
      border-left: 0.45em solid;
      border-bottom: 0.45em solid;
      border-radius: 0.24em;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      transition: all .3s; }
    .main-menu .expand-submenu.active {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
  .main-menu a {
    color: #fff;
    text-transform: uppercase;
    margin-right: 2px; }
    .main-menu a.active, .main-menu a:hover {
      background: rgba(0, 0, 0, 0.2); }

@media screen and (max-width: 1023px) {
  .main-nav {
    position: fixed;
    transition: all .3s;
    height: 100vh;
    z-index: 200;
    overflow-y: auto;
    width: 85%;
    right: -85%; }
    .main-nav.show-menu {
      right: 0; } }

@media screen and (max-width: 1023px) {
  .main-nav {
    background: rgba(79, 166, 160, 0.9); } }

.nav-toggle {
  position: relative;
  z-index: 300;
  width: 30px;
  height: 20px;
  box-shadow: 0 4px #4FA6A0 inset;
  cursor: pointer; }
  .nav-toggle::after, .nav-toggle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #4FA6A0;
    bottom: 0; }
  .nav-toggle::after {
    bottom: 8px; }
  @media screen and (min-width: 1024px) {
    .nav-toggle {
      display: none; } }

@media screen and (min-width: 1024px) {
  .nav-container {
    background: #4FA6A0; }
    .nav-container.sticky {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 100;
      background: rgba(79, 166, 160, 0.8); } }

.main-banner__copy {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40%; }

.main-banner__title {
  font-size: 1.3em; }
  @media screen and (min-width: 640px) {
    .main-banner__title {
      font-size: 2em; } }
  .main-banner__title span {
    display: block; }
    .main-banner__title span:first-child {
      font-weight: normal; }

@media screen and (max-width: 639px) {
  .main-banner__content {
    display: none; } }

.banner-container {
  position: relative; }

.main-banner {
  background: #EEE2E4; }
  .main-banner__img {
    display: block; }

.about-us {
  padding-top: 1.5em; }
  .about-us__title {
    margin: 0; }
  .about-us__subtitle {
    color: #81CDC6;
    margin: 0; }
  .about-us__cta {
    background: white;
    color: #4FA6A0;
    border: 1px solid #4FA6A0; }
    .about-us__cta:hover {
      background: #f2f2f2;
      text-decoration: none; }
    .about-us__cta:active {
      -webkit-transform: scale(0.97);
      -ms-transform: scale(0.97);
      transform: scale(0.97); }

.features-container {
  position: relative;
  background: url(../img/mascota.jpg) center/cover;
  margin-bottom: 2em; }
  .features-container:before {
    content: "";
    position: absolute;
    background: rgba(79, 166, 160, 0.85);
    width: 100%;
    height: 100%;
    z-index: 5; }

.feature {
  padding: 2em 0;
  color: #fff;
  position: relative;
  z-index: 10;
  text-align: center; }
  .feature__icon {
    font-size: 3em; }
  .feature__numbers {
    font-size: 1.8em; }

.services-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1em;
  margin-right: -1em;
  margin-bottom: 2em; }
  .services-container img {
    display: block; }
  body {
    overflow-x: hidden; }
  .services-container > .service {
    width: calc(100% - 2em);
    margin: 1em; }
  @media screen and (min-width: 640px) {
    .services-container > .service {
      width: calc(50% - 2em); } }
  @media screen and (min-width: 1024px) {
    .services-container > .service {
      width: calc(33.33333% - 2em); } }

.services-title,
.services-subtitle {
  text-align: center; }

.service {
  position: relative; }
  .service-icon {
    position: absolute;
    font-size: 2.3em;
    color: #81CDC6; }
  .service-title, .service-content {
    padding-left: 3em; }
  .service-title {
    margin-top: 0;
    color: #4FA6A0; }

.gallery {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px; }
  .gallery img {
    display: block; }
  body {
    overflow-x: hidden; }
  .gallery > .gallery-item {
    width: calc(50% - 0px);
    margin: 0px; }
  @media screen and (min-width: 640px) {
    .gallery > .gallery-item {
      width: calc(25% - 0px); } }

.pricing-title {
  text-align: center; }

.pricing-table {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  border: 1px solid #81CDC6;
  margin-bottom: 2em; }
  .pricing-table__title {
    background: #4FA6A0;
    padding: 1em;
    text-align: center;
    color: rgba(255, 255, 255, 0.5); }
    .pricing-table__title span {
      color: #fff;
      display: inline-block;
      padding-left: .2em; }
  .pricing-table__price {
    font-size: 4em;
    text-align: center; }
    .pricing-table__price:before {
      content: "$";
      font-size: .5em; }
  .pricing-table__feature {
    text-align: center;
    padding: .5em 1em;
    border-bottom: 1px solid #ddd;
    width: 90%;
    margin: 0 auto; }
  .pricing-table__cta {
    background: #4FA6A0;
    color: #fff;
    margin: 1em auto;
    display: table; }
    .pricing-table__cta:hover {
      background: #47958f;
      text-decoration: none; }
    .pricing-table__cta:active {
      -webkit-transform: scale(0.97);
      -ms-transform: scale(0.97);
      transform: scale(0.97); }
