$cssCore: false;
$devMode: false;
$color1: #81CDC6;
$color2: #4FA6A0;
$colorText: #555;
@import "ed-grid/ed-grid";

body {
  font-size : .9em;
  line-height : 1.5;
  color: $colorText;
}

// Menu
.main-menu {
  @include edMenu(l);

  a {
    color: #fff;
    text-transform : uppercase;
    margin-right : 2px;
    
    &.active,
    &:hover {
      background : rgba(#000,.2);
    }
  }
}

.main-nav {
  @include edNav('right', l);
  
  @include to(l) {
    background : rgba($color2,.9);
  }
}

.nav-toggle {
  @include navToggle(20px,$color2);
  @include hideFrom(l);
}

.nav-container {
  @include from(l) {
    background : $color2;
    &.sticky {
      position : fixed;
      top :0;
      width : 100%;
      z-index : 100;
      background : rgba($color2,.8);
    }
  }
}


// Banner

.main-banner {
  &__copy {
    position : absolute;
    top : 50%;
    transform: translateY(-50%);
    width : 40%;
  }

  &__title {
    font-size : 1.3em;
    @include from(m) {
      font-size : 2em;
    }

    span {
      display : block;
      &:first-child {
        font-weight :normal;
      }
    }
  }

  &__content {
    @include to(m) {
      display : none;
    }
  }
}

.banner-container {
  position : relative;
}

.main-banner {
  background : #EEE2E4;

  &__img {
    display : block;
  }
}


// About us
.about-us {
  padding-top : 1.5em;

  &__title {
    margin : 0;
  }

  &__subtitle {
    color: $color1;
    margin : 0;
  }

  &__cta {
    @include button(white,$color2);
    border : 1px solid $color2;
  }
}


//features

.features-container {
  position : relative;
  background : url(../img/mascota.jpg) center / cover;
  margin-bottom : 2em;

  &:before {
    content: "";
    position : absolute;
    background : rgba($color2,.85);
    width : 100%;
    height : 100%;
    z-index : 5;
  }
}

.feature {
  padding : 2em 0;
  color: #fff;
  position : relative;
  z-index : 10;
  text-align : center;

  &__icon {
    font-size : 3em;
  }

  &__numbers {
    font-size : 1.8em;
  }

}


// services

.services-container {
  @include grid('.service', 1 2 3, 2em)
  margin-bottom : 2em;
}

.services-title,
.services-subtitle {
  text-align : center;
}

.service {
  position : relative;

  &-icon {
    position : absolute;
    font-size : 2.3em;
    color: $color1;
  }

  &-title,
  &-content {
    padding-left : 3em;
  }

  &-title {
    margin-top : 0;
    color: $color2;
  }
}

.gallery {
  @include grid('.gallery-item', 2 4, 0px);
}

// pricing
.pricing-title {
  text-align : center;
}

.pricing-table {
  list-style: none;
  padding-left : 0;
  margin-top : 0;
  border : 1px solid $color1;
  margin-bottom : 2em;
  
  &__title {
    background : $color2;
    padding : 1em;
    text-align : center;
    color: rgba(#fff,.5);

    span {
      color: #fff;
      display : inline-block;
      padding-left : .2em;
    }
  }

  &__price {
    font-size : 4em;
    text-align : center;
    &:before {
      content: "$";
      font-size : .5em;
    }
  }

  &__feature {
    text-align : center;
    padding : .5em 1em;
    border-bottom : 1px solid #ddd;
    width : 90%;
    margin : 0 auto;
  }

  &__cta {
    @include button($color2,#fff);
    margin : 1em auto;
    display : table;
  }
}
