extends templates/template
block banner
  .main-banner
    .ed-container
      .ed-item.banner-container
        img(src="img/perrito.jpg").main-banner__img
        .main-banner__copy
          h2.main-banner__title
            span The Kind of Care
            span Your Pets Deserve
          .main-banner__content
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas feugiat dolor.
block aboutUs
  .ed-container.about-us
    .ed-item.m-50
      img(src="img/perrito-2.jpg").about-us__img
    .ed-item.m-50.cross-center
      .about-us__copy
        h2.about-us__title About Clinic
        p.about-us__subtitle Pets best friends
        p.about-us__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas feugiat dolor. Quisque eget eros quis neque egestas ultricies. Aliquam porttitor metus ut egestas consequat.
        a(href="#").about-us__cta Contact us


